@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

body {
  padding: 0%;
  margin: 0%;
  background-color: #EFEFEF;
  font-family: 'Golos Text';
  line-height: 1.5em;
}

.body-main {
  padding: 0%;
  padding-top: 83px;
  background-color: #EFEFEF;
  min-height: 70vh;
  box-sizing: border-box;
}

.web-body {
  padding-top: 20px;
  box-sizing: border-box;
  width: 50%;
  margin-left: auto;
  margin-right: auto  ;
  padding-bottom: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.custom-navbar {
  background-color: #141414;
  color: #EFEFEF;
  width: 100%;
  position: fixed;
  z-index: 999;
  box-sizing: border-box;
}

.nav-container {
  width: 100%;
  background-color: #141414;
  box-sizing: border-box;
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 12px 20px;
  margin-left: 10px;
  background-color: #141414;
  box-sizing: border-box;
  max-width: 100vw;

}


.site-title {
  font-size: small;
  font-weight: bolder;
  padding: 12px 12px;
  padding-left: 0px;
  white-space: nowrap;
  min-width: 0;
  box-sizing: border-box;
  width: fit-content;
}

.site-title p {
  line-height: 100%;
}

#mega {
  display: block;
  font-size: 30px;
  margin: 0px;
  width: fit-content;
}

#mini {
  display: none;
  font-size: 30px;
  margin: 0px;
}

#Register {
  background-color: #008080;
  border-radius: 4px;
}

#Register:hover {
  background-color: #565656;
  color: #EFEFEF;
}


.menu-toggle {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
  padding: 6.5px 20px;
  box-sizing: border-box;
  text-align: center;
}

.menu-toggle i {
  padding: 4px;
}

.menu-toggle i:hover {
  transform: scale(1.1);
  border-radius: 4px;
}

.nav-links-desktop {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 12px;
  list-style-type: none;
  box-sizing: border-box;

}


.nav-links-desktop li a {
  text-decoration: none;
  color: #EFEFEF;
  padding: 8px 12px;
  display: block;
}

.nav-links-mobile li a {
  text-decoration: none;
  color: #EFEFEF;
  padding: 8px 12px;
  display: block;
}

.nav-links-desktop li:hover a {
  background-color: #565656;
  border-radius: 4px;
  color: #EFEFEF;
}

.nav-links-mobile li:hover a {
  background-color: #c5c5c5;
  border-radius: 4px;
  color: #141414;
}

.nav-links-mobile {
  display: none;
  flex-direction: column;
  width: 40%;
  min-width: 250px;
  background-color: #565656;
  padding: 15px 20px;
  list-style-type: none;
  margin: 0px;
  box-sizing: border-box;
  height: 100%;
  position: fixed;
  top: 0%;
  right: 0%;
}

.nav-links-mobile li {
  width: 100%;
}

.nav-links-mobile.show {
  display: flex;
}

.nav-img {
  height: 30px;
  margin: 12px 0px;
  margin-right: 12px;
}

.schoolReg {
  border: #c5c5c5 2px solid;
  border-radius: 10px;
  padding: 35px 30px;
  box-sizing: border-box;
}

.schoolReg h2 {
  margin: auto;
  line-height: 1.5em;
}

.schoolReg button {
  background-color: #565656;
  padding: 15px 17px;
  border: 0px none #00693E;
  border-radius: 4px;
  color: #EFEFEF;
  font-family: "Golos Text";
  font-size: small;
}

.schoolReg button:hover {
  background-color: #141414;
  cursor: pointer;
}

.memberReg h2 {
  margin: auto;
  margin-bottom: 15px;
}

.memberReg {
  border: #c5c5c5 2px solid;
  border-radius: 10px;
  padding: 35px 30px;
  margin-top: 20px;
  box-sizing: border-box;
}

.memberReg label {
  font-size: small;
}

.memberReg input:not([type="checkbox"]):not([type="radio"]), .memberReg textarea, .memberReg select{
  width: 100%;
  border: 0px;
  background-color: transparent;
  border-bottom: #C5C5C5 1px solid;
  margin-top: 15px;
  margin-bottom: 40px;
  font-family: "Golos Text";
  font-size: medium;
  padding-bottom: 10px;
}

.memberReg textarea {
  padding-bottom: 10px;
}

.memberReg input[type="checkbox"] {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  margin-right: 10px;
  margin-top: 15px;
}

.checks label {
  margin-bottom: 40px;
}

.memberReg option {
  font-family: "Golos Text";
}

.subtext {
  font-size: small;
  color: #565656;
  margin-top: 5px;
}

.memberReg p {
  font-size: small;
}

.memberReg hr {
  margin-top: 25px;
  margin-bottom: 30px;
  border: #c5c5c5 1px solid;
}

.checkbox {
  max-width: none;
  width: fit-content;
  
}

.formButtons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.formAction {
  background-color: #008080; 
  border: #008080 0px none; 
  padding:15px 20px; 
  border-radius: 4px; 
  color: #efefef; 
  width: 49%;
  font-family: "Golos Text";
  font-size: small;
}

.resetAction {
  background-color: #565656;
}

.formAction:hover {
  cursor: pointer;
  background-color: #141414;
}

.footer {
  background-color: #141414;
  width: 100%;
  min-height: 10vh;
  margin: -5px;
  color: #c5c5c5;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
}

.footer button {
  background-color: #efefef;
  border: #EFEFEF 0px none;
  font-size: larger;
  margin: 0px 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.footer button:hover {
  background-color: #C5C5C5;
  cursor: pointer;
}

.index-block {
  width: 100%;
  margin: 0px;
  padding: 60px;
  box-sizing: border-box;
}

.index-block h2 {
  padding: 0px;
  padding-bottom: 10px;
}

.hero {
  text-align: center;
}

.hero button {
  background-color: #008080;
  color: #efefef;
  font-size: medium;
  padding: 10px 18px;
  border-radius: 4px;
  border: 0px none;
  margin-top: 15px;
  margin-bottom: 33px;
  line-height: 1.5em;
}

.hero button:hover {
  cursor: pointer;
  background-color: #565656;
}

.hero h2 {
  font-size: 40px;
  line-height: 1.5em;
}

.scrollable {
  display: flex;
}

.scrollable button {
  width: 5%;
  min-height: 100%;
  margin: 0px 10px;
  box-sizing: border-box;
  background-color: transparent;
  border: 0px none;
  font-size: x-large;
}

.scrollable button i {
  color: #00693E;
  font-weight: bold;
}

.scrollable button:hover {
  cursor: pointer;
}

.scrollable button:hover i {
  font-size: xx-large;
}

.scroll {
  overflow: scroll;
  max-width: 100vw;
  display: flex;
  gap: 20px;
  width: 82.5%;
  box-sizing: border-box;
  scrollbar-width: none;
  height: 200px;
}

.scroll::-webkit-scrollbar { 
    display: none;  
}

.scroll img {
  height: 100%;
}

.faq {
  background-color: #565656;
  color: #EFEFEF;
}

.quesBlock {
  margin-bottom: 20px;
  padding: 0%;
}

.question{
  background-color: #EFEFEF;
  padding: 20px;
  justify-content: space-between;
  display: flex;
}

.question p {
  width: fit-content;
  color: #565656;
}

.question button {
  background-color: transparent;
  border: 0px none;
  width: 56px;
  font-size: x-large;
  color: #008080;
}

.question button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: #C5C5C5;
  color: #565656;
  padding: 0 20px; 
}

.hidden {
  display: none;
}

.more-faq-toggle {
  display: block;
  margin: 20px auto;
  background-color: #008080;
  color: white;
  padding: 10px 18px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  line-height: 1.5em;
  font-size: medium;
}

.more-faq-toggle:hover {
  background-color: #C5C5C5;
  color: #565656;
}

.collapsible-section {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.collapsible-section.open {
  max-height: 1000px;
}


.description {
  background-color: #565656;
  color: #EFEFEF;
}

.testimonies {
  height: fit-content;
  margin-bottom: 40px;
}

.testimony {
  background-color: #C5C5C5;
  padding: 10px 25px;
  border-radius: 7px;
  width: calc(50% - 10px);
  box-sizing: border-box;
  height: 100%;
}

.testimony i {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 05px;
  color: #565656;
}

.thought {
  text-indent: 5px
}

.name {
  font-size: small;
  color: #565656;
}

.hiddenH2 {
  display: none;
}

@media (max-width: 1320px) {
  .menu-toggle {
    display: block;
  }

  .nav-links-desktop {
    display: none;
  }


  .nav-links-mobile a:hover {
    background-color: #c5c5c5;
  }

  #Register {
    margin-top: 10%;
    width: max-content;
    margin-left: 10px;
  }

  .body-main {
    padding-top: 72px;
  }
  .web-body {
    padding-top: 10px;
  }
}

@media (min-width: 1320px) {
  .nav-links-mobile {
    display: none !important;
  }
}

@media (max-width: 850px) {
  .web-body {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: auto;
    } 
}

@media (max-width: 768px) {
  #mega {
  display: none;
}

#mini {
  display: block;
}

.footer p {
  font-size: medium;
}

.scrollable button {
  display: none;
}

.scrollable button:hover {
  cursor: pointer;
}

.scrollable button:hover i {
  transform: scale(1.2);
}

.scrollable {
  width: 100%;
  min-height: 400px;
}

.scroll {
  width: 100%;
  display: grid;
  flex-wrap: wrap;
  overflow-y: scroll;
  scrollbar-width: 1px;
  height: 100%;
  max-height: 500px;
}

.scroll img {
  width: 100%;
}

.testimony {
  width: 100%;
  text-align: left;
}

.scroll::-webkit-scrollbar { 
    display:block;  
}

.index-block {
  text-align: center;
}

.hiddenH2 {
  margin-bottom: 35px; 
  margin-top: -10px;
  display: block;
}

.name {
  margin-top: 5 
}

}

@media (max-width: 500px) {
  .index-block {
    padding: 30px;
  }
}